@model IEnumerable<TrashCollector2.Models.DriverRoute>

@{
    ViewBag.Title = "DayFour";
}

<h2>Thursday's Route</h2>

<table class="table">
    <tr>
        <th>
            @Html.Label("Driver Route (by Zipcode)")
        </th>
        <th>
            @Html.Label("Customer Addresses")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Route)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.StreetAddress)
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Back to Today's Route", "Index")
</p>
<p>
    <ul style="list-style:none">
        <li>
            @Html.ActionLink("Monday's Route", "DayOne")

        </li>
        <li>
            @Html.ActionLink("Tuesday's Route", "DayTwo")

        </li>
        <li>
            @Html.ActionLink("Wednesday's Route", "DayThree")

        </li>
        <li>
            @Html.ActionLink("Friday's Route", "DayFive")

        </li>
    </ul>
</p>
